.jumbotron {
    background-image: url("../images/blue.jpn.jpg");
    background-size: cover;
  
  }
  
  .jumbotron h1 {
    color: #000;
    text-shadow: 3px 3px #fff;
   
  }
  
  .instructions {
    text-align: center; 
  }

  p {
      line-height: 1.0em;
      text-shadow: .2px .2px #898af0;
  }

  h2 {
    text-shadow: .5px .5px #8688e9;
  }

  /* .container-fluid {
      background-image: url("../images/chalcanthite.jpg");

  } */